%clearfix {
    &::before,
    &::after {
        content: '';
        display: block;
    }
    &::after {
        clear: both;
    }
}

.wrapper {
    width: 100%;
    max-width: 1366px;
    padding: 0 20px;
    margin: 0 auto;
}

%bgImg {
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}