//HEADER
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 13;
    padding: 36px 0 22px;
    .wrapper {
        @extend %clearfix;
    }
}
.logo {
    display: block;
    float: left;
    margin-left: 74px;
    &:hover {
        opacity: 0.8;
    }
}
.img-logo {
    height:35px;
}
.navigation {
    display: block;
    float: right;
}
.nav-list {
    font-size: 0;
    background-color: transparent;
}
.nav-item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 15px 8px 27px;
}
.nav-link {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    color: $EarieBlack;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        color: $RobinsEggBlue;
    }
}