//Header
.header {
    position: fixed;
    padding: 36px 0 22px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 12px 15px -13px $EarieBlack;
    .wrapper {
        @extend %clearfix;
    }
}
.logo {
    display: block;
    float: left;
    margin-left: 74px;
    &:hover {
        opacity: 0.8;
    }
}
.img-logo {
    height:35px;
}
.nav-toggle {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 110;
    border: 1px solid $RobinsEggBlue;
    background-color: transparent;
}
.nav-toggle-icon {
    position: absolute;
    top: 18px;
    left: 4px;
    width: 30px;
    height: 3px;
    background-color:$RobinsEggBlue ;
    &::before,
    &::after  {
        content: '';
        position: absolute;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: $RobinsEggBlue ;
    }
    &::before {
        top: 9px;
    }
    &::after {
        top: -9px;
    }
    
}
.navigation {
    display: block;
    float: right;
}
.nav-list {
    font-size: 0;
    background-color: transparent;
}
.nav-item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 15px 8px 27px;
}
.nav-link {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    color: $EarieBlack;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        color: $RobinsEggBlue;
    }
}

@include breakpoint (tablet) {
    .nav-toggle {
        //float: right;
        display: block;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: $White;
        z-index: 100;
        transform: translateX(100%);
        transition: 0.4s ease;
    }
    .nav-list {
        background-color: none;
        padding-top: 100px;
        padding-left: 30px;
        text-align: center;
    }
    .nav-item {
        display: block;
    }
    .nav-toggle-active {
        .nav-toggle-icon {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(135deg);
                background-color: $RobinsEggBlue ;
            }
            &::after {
                top: 0;
                transform: rotate(-135deg);
                background-color: $RobinsEggBlue ;
            }
        }
    }
    .nav-open {
        transform: translateX(0);
    }
}

@include breakpoint (phone) {
    .logo {
        margin-left: 19px;
    }
    .nav-toggle {
        float: right;
        display: block;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color:  $White;
        z-index: 100;
        transform: translateX(100%);
        transition: 0.4s ease;
    }
    .nav-list {
        background-color: none;
        padding-top: 100px;
        padding-left: 30px;
        text-align: center;
    }
    .nav-item {
        display: block;
    }
    .nav-toggle-active {
        .nav-toggle-icon {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(135deg);
                background-color: $RobinsEggBlue ;
            }
            &::after {
                top: 0;
                transform: rotate(-135deg);
                background-color: $RobinsEggBlue ;
            }
        }
    }
    .nav-open {
        transform: translateX(0);
    }
}