.links {
    position: relative;
    display: block;
    width: 100%;
}
.link-display {
    display: flex;
    flex-wrap: wrap;
}
.card-item {
    flex: 1 1 25%;
    max-width: 25%;
    max-height: 23%;
}
.card-link {
    display: block;
    &:hover {
        opacity: 0;
        transition: 1s ease-in-out;
        background: rgba(255, 119, 29, 0.9);
    }
}
.card-link-background {
    @extend %bgImg;
    padding-bottom: 100%;
}