.links {
    position: relative;
    display: block;
    width: 100%;
    //min-height: 687px ;
}
.link-display {
    display: flex;
    flex-wrap: wrap;
}
.card-item {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 6px;
}
.card-link {
    display: block;
    &:hover {
        opacity: 0.2;
        transition: 1s ease-in-out;
    }
}
.icon-icon-heart {
    font-size: 30px;
    color: $BlackDar;
}
.card-link-background {
    @extend %bgImg;
    padding-bottom: 92%;
}
.links-button {
    position: relative;
    display: block;
    padding: 10px auto;
    background-color: $WhiteSmoke;
    text-align: center;
    cursor: pointer;
    &:hover {
        opacity: 0.4;
    }
}
.links-load {
    font-size: 12px;
    line-height: 101px;
    letter-spacing: 1px;
    color: $SuvaGrey;
    text-decoration: none;
    text-transform: uppercase;
}
@include breakpoint (tablet) {
    .card-item {
        flex: 1 1 50%;
        max-width: 50%;
        max-height: 23%;
        padding: 7px;
    }
}
@include breakpoint (phone) { 
    .card-item {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 23%;
        padding: 5px;
    }
}