.sec-swiper {
    display: block;
    position: relative;
    width: 100%;
    //padding: 5px 0;
    background-color: $RobinsEggBlue;
}
.sec-swiper-information,
.sec-swiper-span{
    display: block;
    font-size: 30px;
    color: $White;
    line-height: 40px;
    text-align: center;
    max-width: 799px;
    &.sec-swiper-span {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 11px;
    }
}