.sec4-links {
    position: relative;
    min-height: 535px;
    width: 100%;
    background-color: $WhiteSmoke;
}
.sec4-display {
    text-align: center;
    margin: 0 69px;
    padding: 80px 2px 0;
}
.sec4-links-item {
    padding: 15px 33px;
    margin-bottom: 17px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        .h3-subtitle,
        .p2-paragraph-links {
            color: $RobinsEggBlue;
        }
        border: 1px solid $RobinsEggBlue;
        box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
      }
}

.icon-icon-diamond,
.icon-icon-archery,
.icon-icon-mobile-phone,
.icon-icon-console,
.icon-icon-airplane,
.icon-icon-star,
.icon-icon-magic-stick,
.icon-icon-paint-bucket {
    color: $BlackDar;
    font-size: 44px;
}
.h3-subtitle {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: $EarieBlack;
    text-transform: uppercase;
    padding-top: 12px;
}
.p2-paragraph-links {
    letter-spacing: 1px;
    padding-top: 8px;
}
@include breakpoint (tablet) {
    .sec4-display {
        padding-top: 30px;
    }
}
@include breakpoint (phone) {
    .sec4-display {
        padding-top: 20px;
    }
}