.work-process {
    position: relative;
    display: block;
    min-height: 966px;
    width: 100%;
    background-color: $White;
}
.section-work-proc-content {
    padding: 65px 0;
}
.word-process-video {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.video {
    min-width:1180px;
    min-height:570px;
}
@include breakpoint (tablet) { 
    .work-process {
        min-height: 750px;
    }
    .video {
        min-width: 699px;
        min-height: 365px;
    }
}
@include breakpoint (phone) { 
    .work-process {
        min-height: 650px;
    }
    .video {
        min-width: 360px;
        min-height: 222px;
    }
}