.work-process {
    position: relative;
    display: block;
    min-height: 919px;
    width: 100%;
    background-color: $White;
}
.section-work-proc-content {
    padding: 65px 0;
}
.word-process-video {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}