//FONT
$font: 'Montserrat', serif; 
//COLORS
$White: #fff;
$Black: #000;
$RobinsEggBlue:#10c9c3;
$EarieBlack: #191919;
$BlackDar: #1d1d1d;
$DarkGrey: #787878;
$GreyShade: #d8d8d8;
$WhiteSmoke: #f5f5f5;
$SuvaGrey: #8e8e8e;
$Silver: #bcbcbc
